.myLink{
    padding: 10px;
}
body{
    background-color: whitesmoke;
}
.pageWithoutNav{
    margin: 5% 15% 5% 15%;
}

.homePage h1{
    font-size: 4em;
    text-align: center;
    margin-bottom: 3%;
}
.homePage p {
    font-size: 1.5em;
}
.homePage{
    width: 100%;
}

.homePageLeft, .homePageRight{
    width: 45%;
    float:left;
    margin-bottom: 3%;
}

.homePageLeft{
    margin-right: 2%;
}

.homePageRight{
    margin-left: 2%;
}
.homePageBottom{
}

.addWar table{
    border-collapse:separate;
    border-spacing: 0 1em;
}
.addWar td{
    padding-right:10px;
}

.totalNumbers {
    font-weight: bold;
}
.homepicture {
    max-width: 100%;
}

.required:after, .redStar {
    font-size: 1.3em;
    content:" *";
    color: red;
}
.information {
    font-size: 0.9em;
    font-style: italic;
}

.confirmationMessage{
    color: forestgreen;
}
