.myLink{
    padding: 10px;
}
body{
    background-color: whitesmoke;
}
.pageWithoutNav{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.homePage h1{
    font-size: 4em;
    text-align: center;
    margin-bottom: 3%;
}
.homePage p {
    font-size: 1.5em;
}
.homePage{
    width: 100%;
}

.homePageLeft, .homePageRight{
    width: 45%;
    float:left;
    margin-bottom: 3%;
}

.homePageLeft{
    margin-right: 2%;
}

.homePageRight{
    margin-left: 2%;
}
.homePageBottom{

}
.addForm table {
    border: solid black 1px;
}

.totalNumbers {
    font-weight: bold;
}
